<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
<listeners>

<listener class-name="pageFactory.listeners"/>
</listeners>
  <test name="Nopackage" >
    <classes>
<class name="testRunner.testNGTestRunner" />

 
  </classes>
  </test>
 </suite>
 <!-- --> 